/* header */
header {
    color: #80CED7;
    font-size: 3rem;
    background-color: #001F54;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,31,84,1) 50%, rgba(0,212,255,1) 100%);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    padding: 25px 0 25px 0;
}

/* side div with search bar and list of cities to select from */
#aside {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    width: 25%;
    margin: 5px;
}

.search-bar {
    width: 100%;
}

.search-button {
    background-color: #1282A2;
    color: #FEFCFB;
    width: 100%;
}

.cities {
    margin: 5px;
    width: 100%;
}

/* main body top div */
#current-city {
    display: flex;
    flex-direction: column;
    float: right;
    width: 72%;
    height: 275px;
    margin: 5px;
}

.div-color {
    background-color: #ADE8F4;
}

#city-name {
    margin-left: 20px;
}

.stats {
    padding: 10px;
    font-size: 20px;
}

/* main body bottom div */
#five-day-forecast {
    display: flex;
    flex-direction: column;
    float: right;
    width: 72%;
    margin: 5px;
}

#forecast {
    margin-left: 20px;
}

.div-colortwo {
    background-color: #CAF0F8;
}

#daylist {
    margin: 5px;
    padding: 20px;
    align-items: center;
}

#daylist h3 {
    font-size: 20px;
}

#daylist p {
    font-size: 15px;
}

.div-colorthree {
    background-color: #023E8A;
}