/* header */
header {
    color: #80CED7;
    font-size: 3rem;
    background-color: #001F54;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,31,84,1) 50%, rgba(0,212,255,1) 100%);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    padding: 25px 0 25px 0;
}

/* side div with search bar and list of cities to select from */
#aside {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    width: 25%;
    margin: 5px;
}

.search-bar {
    width: 100%;
    /* height: 255px; */
}

.search-button {
    background-color: #1282A2;
    color: #FEFCFB;
    width: 100%;
}

.cities {
    margin: 5px;
    width: 100%;
}

/* main body top div */
#current-city {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    width: 72%;
    height: 250px;
    margin: 5px;
}

#current-city-name {
    margin: 3px;
    
}

#city-stats {
}

.stats {
    padding: 10px;
}

/* main body bottom div */
#five-day-forecast {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    float: right;
    flex-wrap: wrap;
    width: 72%;
    margin: 5px;
}

.days {
    border: 2px solid black;
    margin: 5px;
}